<%= form_with(model: account) do |f| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :access_token, class: "form-label" %>
    <%= f.text_field :access_token, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :account_id, class: "form-label" %>
    <%= f.number_field :account_id, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :capital, 'Capital In Rupees', class: "form-label" %>
    <%= f.text_field :capital, class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
